{%extends 'users/userbase.html'%}
{%load static%}
{%block contents%}
 <section id="intro" class="clearfix">
    <div class="container">

      <div class="intro-img">
        <img src="{%static 'decistion_tree.png' %}" alt="" class="img-fluid">
          <!--<img src="{%static 'img/intro-img.svg'%}" alt="" class="img-fluid">-->
      </div>

      <div class="intro-info">
        <h2>Medical <br><span>Domain</span><br> to Identify Disease!</h2>
        <div>
             <img src="{%static 'img/intro-img.svg' %}" alt="" class="img-fluid">
         <!-- <a href="#about" class="btn-get-started scrollto">Get Started</a>
          <a href="#services" class="btn-services scrollto">Our Services</a>
          -->
        </div>
      </div>

    </div>
  </section>
{%endblock%}